* {
    margin: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

body {
    background-color: #95ded3;

}

.quiz {
    
    background-color: aliceblue;
}

header {
    padding-bottom: 3%;
    font-size: 50px;
    text-align: center;
}

.questions {
    padding: 15px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}